div {
    font-family: "Century Gothic", sans-serif;
}

body {
	background-color: #222;
}

#introduction-div {
    text-align:center;
    height:120vh;  
}

#video-opening {
	width: 100%;
}

#introduction-words {
	position: absolute;
	padding-top: 22%;
	padding-left: 20vw;
    padding-right: 20vw;
	top: 0;
	color: white;
	z-index: 100;
}

h1 {
    font-size: 30px;
}

h2 {   
    font-size: 21px;
}

#aboutme {
	color: white;
	font-weight: 700;
}

h3 {
    font-size: 21px;
}

.container {
	text-align:left;
	
}

.aboutme-section {
	font-size: 17px;
	color: white;
	font-weight: 700;
}

p {
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
	color: white;
}

#work-section {
    height:200vh;
}

a:link {
    color: #17a2b8;
}

a:hover {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: #17a2b8;
}

#songfingerprint,
#BookVIS-project {
	height: 100vh;
	text-align: center;
}

#songfingerprint-video,
#bookvis-video {
	height: 95vh;
}

#video-navigation,
#video2-navigation {
	padding-left: 60%;
}

#extra-div {
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    font-size: 21px;
}


.navigation-block{
    font-family: "Century Gothic", sans-serif;
    font-size: 21px;
    height:20vh;
    padding-top:10vh;
	padding-left:7vw;
}

.all-category {
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.all-category:hover {
    font-size: 24px;
    color: #17a2b8;
    font-weight: 700;
}


#work-section {
    text-align:center;
}

#specific-intro {
	padding-top: 10vh;
	margin-bottom: 50vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    display:inline-block;
}

.project-thumbnail {
    width:370px;
    display:inline-block;
    position: relative;
}

.image-inside {
    width:100%;
    height:100%;
}

.show-on-hover {
    position: absolute;
    padding-top:10%;
	padding-bottom:3%;
    width:100%;
    height:100%;
	z-index:10;
	font-weight:700;
}


a.link-to-website {
	font-size: 14px;
	color: #17a2b8;
	font-weight:700;
}

a.link-to-website:hover {
	color: orange;
}

#slideshow-navigation {
	font-size: 15px;
	color: grey;
	padding-right: 5vw;
	text-align:right;
}


a.link-back-works {
	font-size: 15px;
	color: #17a2b8;
	font-weight:700;
}

a.link-back-works:hover {
	color: orange;
	font-size: 15px;
}

a.link-back-main {
	font-size: 17px;
	color: #17a2b8;
	font-weight: 700;
}

a.link-back-main:hover {
	color: orange;
}

#workImgsControls {
	height:100vh;
}

#workImgsControls {
	margin:auto;
}

.img-inside-carousel {
	width: 87%;
}

.drawing-inside-carousel {
	max-height: 500px;
}

#drawing-words {
	text-align: center;
	font-size: 17px;
	font-weight:700;
	color: white;
}

#hobby-section {
    height:100vh;
	background-color: #222;
}

ul {
	font-size: 15px;
	text-align: left;
	color:#17a2b8;
}

.skillset {
	font-size: 17px;
	text-align: left;
	color:#17a2b8;
	font-weight:700;
}

#navi-bar {
	margin-bottom: 5vh;
}

#back-main {
	padding-right: 5vw;
}

