div {
    font-family: "Century Gothic", sans-serif;
}

#introduction-div {
    text-align:center;
    height:100vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #c0c0c0;
}

h1 {
    padding-top: 15%;
}

h2 {
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 30px;
}

h3 {
    font-size: 24px;
    margin-top: 30px;
    font-weight: 700;
}

p {
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
}

#work-section {
    height:100vh;
}

a:link {
    color: white;
}

a:hover {
    color: #00827f;
    text-decoration: none;
}

#test {
	color: #ff0000;
}

#extra-div {
    font-family: "Century Gothic", sans-serif;
    text-align: right;
    font-size: 21px;
    padding-right: 40px;
    padding-top: 30px;
}

#navigation-block{
    font-family: "Century Gothic", sans-serif;
    font-size: 21px;
    height:20vh;
    padding-top:10vh;
}

.all-category {
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.all-category:hover {
    font-size: 24px;
    color: #00827f;
    font-weight: 700;
}


#work-section {
    text-align:center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    display:inline-block;
}

.project-thumbnail {
    width:370px;
    display:inline-block;
    position: relative;
}

.image-inside {
    width:100%;
    height:100%;
}

.show-on-hover {
    position: absolute;
    padding-top:10%;
	padding-bottom:3%;
    width:100%;
    height:100%;
	z-index:10;
    visibility:hidden;
	font-weight:700;
}


a.link-to-website {
	font-size: 14px;
	color: #00827f;
	font-weight:700;
}

a.link-to-website:hover {
	color: orange;
}

#slideshow-navigation {
	font-size: 15px;
	color: grey;
	padding-right: 5vw;
	text-align:right;
}

a.link-back-works {
	font-size: 15px;
	color: #00827f;
	font-weight:700;
}

a.link-back-works:hover {
	color: orange;
}

#workImgsControls {
	height:100vh;
}

#workImgsControls {
	margin:auto;
}

.img-inside-carousel {
	width: 87%;
}

.drawing-inside-carousel {
	max-height: 500px;
}

#drawing-words {
	text-align: center;
	font-size: 17px;
	font-weight:700;
	color: white;
}

#hobby-section {
    height:100vh;
	background-color: #c0c0c0;
}


